# Bundler cache
.bundle
/vendor/

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site
openspec/

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json
!workers/update-subscriptions/package-lock.json
.wrangler
workers/update-subscriptions/wrangler.toml
workers/update-subscriptions/.deployed.env
workers/update-subscriptions/.dev.vars

# IDE configurations
.idea
.vscode
!.vscode/settings.json
!.vscode/extensions.json

# Misc
_sass/dist
assets/js/dist
