{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="profile_box">

  <div class="author__avatar">
    {% assign avatar_webp = author.avatar | replace: ".png", ".webp" %}
    <picture>
      <source srcset="{{ avatar_webp | relative_url }}" type="image/webp">
      <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" width="160" height="160" loading="eager" decoding="async" fetchpriority="high">
    </picture>
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <!-- <button class="btn btn--inverse">More Info & Contact</button> -->
    <ul class="author__urls social-icons">
      {% if site.description %}
        <li><div style="white-space: normal; margin-bottom: 1em;">{{ site.description }}</div></li>
      {% endif %}
      {% if author.location %}
        <li>{{ author.location }}</li>
      {% endif %}
      {% if author.employer %}
        <li>{{ author.employer }}</li>
      {% endif %}
      {% if author.uri %}
        <li><a href="{{ author.uri }}">Website</a></li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}">Email</a></li>
      {% endif %}
      {% if author.cv %}
        <li><a href="{{ author.cv }}">CV</a></li>
      {% endif %}
      {% if author.keybase %}
        <li><a href="https://keybase.io/{{ author.keybase }}">Keybase</a></li>
      {% endif %}
       {% if author.researchgate %}
        <li><a href="{{ author.researchgate }}">ResearchGate</a></li>
      {% endif %}
      {% if author.twitter %}
        <li><a href="https://twitter.com/{{ author.twitter }}">Twitter</a></li>
      {% endif %}
      {% if author.facebook %}
        <li><a href="https://www.facebook.com/{{ author.facebook }}">Facebook</a></li>
      {% endif %}
      {% if author.google_plus %}
        <li><a href="https://plus.google.com/+{{ author.google_plus }}">Google+</a></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}">LinkedIn</a></li>
      {% endif %}
      {% if author.dblp %}
        <li><a href="{{ author.dblp }}">DBLP</a></li>
      {% endif %}
      {% if author.xing %}
        <li><a href="https://www.xing.com/profile/{{ author.xing }}">XING</a></li>
      {% endif %}
      {% if author.instagram %}
        <li><a href="https://instagram.com/{{ author.instagram }}">Instagram</a></li>
      {% endif %}
      {% if author.tumblr %}
        <li><a href="https://{{ author.tumblr }}.tumblr.com">Tumblr</a></li>
      {% endif %}
      {% if author.bitbucket %}
        <li><a href="https://bitbucket.org/{{ author.bitbucket }}">Bitbucket</a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}">Github</a></li>
      {% endif %}
      {% if author.huggingface %}
        <li><a href="{{ author.huggingface }}">HuggingFace</a></li>
      {% endif %}
      {% if author.medium %}
        <li><a href="{{ author.medium }}">Medium</a></li>
      {% endif %}
      {% if author.stackoverflow %}
        <li><a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}">Stackoverflow</a></li>
      {% endif %}
      {% if author.lastfm %}
        <li><a href="https://lastfm.com/user/{{ author.lastfm }}">Last.fm</a></li>
      {% endif %}
      {% if author.dribbble %}
        <li><a href="https://dribbble.com/{{ author.dribbble }}">Dribbble</a></li>
      {% endif %}
      {% if author.pinterest %}
        <li><a href="https://www.pinterest.com/{{ author.pinterest }}">Pinterest</a></li>
      {% endif %}
      {% if author.foursquare %}
        <li><a href="https://foursquare.com/{{ author.foursquare }}">Foursquare</a></li>
      {% endif %}
      {% if author.steam %}
        <li><a href="https://steamcommunity.com/id/{{ author.steam }}">Steam</a></li>
      {% endif %}
      {% if author.youtube %}
        <li><a href="https://www.youtube.com/user/{{ author.youtube }}">YouTube</a></li>
      {% endif %}
      {% if author.soundcloud %}
        <li><a href="https://soundcloud.com/{{ author.soundcloud }}">Soundcloud</a></li>
      {% endif %}
      {% if author.weibo %}
        <li><a href="https://www.weibo.com/{{ author.weibo }}">Weibo</a></li>
      {% endif %}
      {% if author.flickr %}
        <li><a href="https://www.flickr.com/{{ author.flickr }}">Flickr</a></li>
      {% endif %}
      {% if author.codepen %}
        <li><a href="https://codepen.io/{{ author.codepen }}">CodePen</a></li>
      {% endif %}
      {% if author.vine %}
        <li><a href="https://vine.co/u/{{ author.vine }}">Vine</a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}">Google Scholar</a></li>
      {% endif %}
      {% if author.pubmed %}
        <li><a href="{{ author.pubmed }}">PubMed</a></li>
      {% endif %}
      {% if author.orcid %}
        <li><a href="{{ author.orcid }}">ORCID</a></li>
      {% endif %}
      {% if author.impactstory %}
        <li><a href="{{ author.impactstory }}">Impactstory</a></li>
      {% endif %}
      {% if author.wikipedia %}
        <li><a href="https://en.wikipedia.org/wiki/User:{{ author.wikipedia }}">Wikipedia</a></li>
{% endif %}
    </ul>
      <div class="author__urls_sm">
      {% if author.uri %}
        <a href="{{ author.uri }}" aria-label="Website"><span aria-hidden="true">Website</span></a>
      {% endif %}
      {% if author.email %}
        <a href="mailto:{{ author.email }}" aria-label="Email"><span aria-hidden="true">Email</span></a>
      {% endif %}
      {% if author.cv %}
        <a href="{{ author.cv }}" aria-label="CV"><span aria-hidden="true">CV</span></a>
      {% endif %}
      {% if author.keybase %}
        <a href="https://keybase.io/{{ author.keybase }}" aria-label="Keybase"><span aria-hidden="true">Keybase</span></a>
      {% endif %}
       {% if author.researchgate %}
        <a href="{{ author.researchgate }}" aria-label="ResearchGate"><span aria-hidden="true">ResearchGate</span></a>
      {% endif %}
      {% if author.twitter %}
        <a href="https://twitter.com/{{ author.twitter }}" aria-label="Twitter"><span aria-hidden="true">Twitter</span></a>
      {% endif %}
      {% if author.facebook %}
        <a href="https://www.facebook.com/{{ author.facebook }}" aria-label="Facebook"><span aria-hidden="true">Facebook</span></a>
      {% endif %}
      {% if author.google_plus %}
        <a href="https://plus.google.com/+{{ author.google_plus }}" aria-label="Google Plus"><span aria-hidden="true">Google Plus</span></a>
      {% endif %}
      {% if author.linkedin %}
        <a href="https://www.linkedin.com/in/{{ author.linkedin }}" aria-label="LinkedIn"><span aria-hidden="true">LinkedIn</span></a>
      {% endif %}
      {% if author.dblp %}
        <a href="{{ author.dblp }}" aria-label="DBLP"><span aria-hidden="true">DBLP</span></a>
      {% endif %}
      {% if author.xing %}
        <a href="https://www.xing.com/profile/{{ author.xing }}" aria-label="XING"><span aria-hidden="true">XING</span></a>
      {% endif %}
      {% if author.instagram %}
        <a href="https://instagram.com/{{ author.instagram }}" aria-label="Instagram"><span aria-hidden="true">Instagram</span></a>
      {% endif %}
      {% if author.tumblr %}
        <a href="https://{{ author.tumblr }}.tumblr.com" aria-label="Tumblr"><span aria-hidden="true">Tumblr</span></a>
      {% endif %}
      {% if author.bitbucket %}
        <a href="https://bitbucket.org/{{ author.bitbucket }}" aria-label="Bitbucket"><span aria-hidden="true">Bitbucket</span></a>
      {% endif %}
      {% if author.github %}
        <a href="https://github.com/{{ author.github }}" aria-label="GitHub"><span aria-hidden="true">GitHub</span></a>
      {% endif %}
      {% if author.huggingface %}
        <a href="{{ author.huggingface }}" aria-label="Hugging Face"><span aria-hidden="true">Hugging Face</span></a>
      {% endif %}
      {% if author.medium %}
        <a href="{{ author.medium }}" aria-label="Medium"><span aria-hidden="true">Medium</span></a>
      {% endif %}
      {% if author.stackoverflow %}
        <a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}" aria-label="Stack Overflow"><span aria-hidden="true">Stack Overflow</span></a>
      {% endif %}
      {% if author.lastfm %}
        <a href="https://lastfm.com/user/{{ author.lastfm }}" aria-label="Last.fm"><span aria-hidden="true">Last.fm</span></a>
      {% endif %}
      {% if author.dribbble %}
        <a href="https://dribbble.com/{{ author.dribbble }}" aria-label="Dribbble"><span aria-hidden="true">Dribbble</span></a>
      {% endif %}
      {% if author.pinterest %}
        <a href="https://www.pinterest.com/{{ author.pinterest }}" aria-label="Pinterest"><span aria-hidden="true">Pinterest</span></a>
      {% endif %}
      {% if author.foursquare %}
        <a href="https://foursquare.com/{{ author.foursquare }}" aria-label="Foursquare"><span aria-hidden="true">Foursquare</span></a>
      {% endif %}
      {% if author.steam %}
        <a href="https://steamcommunity.com/id/{{ author.steam }}" aria-label="Steam"><span aria-hidden="true">Steam</span></a>
      {% endif %}
      {% if author.youtube %}
        <a href="https://www.youtube.com/user/{{ author.youtube }}" aria-label="YouTube"><span aria-hidden="true">YouTube</span></a>
      {% endif %}
      {% if author.soundcloud %}
        <a href="https://soundcloud.com/{{ author.soundcloud }}" aria-label="SoundCloud"><span aria-hidden="true">SoundCloud</span></a>
      {% endif %}
      {% if author.weibo %}
        <a href="https://www.weibo.com/{{ author.weibo }}" aria-label="Weibo"><span aria-hidden="true">Weibo</span></a>
      {% endif %}
      {% if author.flickr %}
        <a href="https://www.flickr.com/{{ author.flickr }}" aria-label="Flickr"><span aria-hidden="true">Flickr</span></a>
      {% endif %}
      {% if author.codepen %}
        <a href="https://codepen.io/{{ author.codepen }}" aria-label="CodePen"><span aria-hidden="true">CodePen</span></a>
      {% endif %}
      {% if author.vine %}
        <a href="https://vine.co/u/{{ author.vine }}" aria-label="Vine"><span aria-hidden="true">Vine</span></a>
      {% endif %}
      {% if author.googlescholar %}
        <a href="{{ author.googlescholar }}" aria-label="Google Scholar"><span aria-hidden="true">Google Scholar</span></a>
      {% endif %}
      {% if author.pubmed %}
        <a href="{{ author.pubmed }}" aria-label="PubMed"><span aria-hidden="true">PubMed</span></a>
      {% endif %}
      {% if author.orcid %}
        <a href="{{ author.orcid }}" aria-label="ORCID"><span aria-hidden="true">ORCID</span></a>
      {% endif %}
      {% if author.impactstory %}
        <a href="{{ author.impactstory }}" aria-label="Impactstory"><span aria-hidden="true">Impactstory</span></a>
      {% endif %}
      {% if author.wikipedia %}
        <a href="https://en.wikipedia.org/wiki/User:{{ author.wikipedia }}" aria-label="Wikipedia"><span aria-hidden="true">Wikipedia</span></a>
      {% endif %}
    </div>
  </div>
</div>
