<meta charset="utf-8">

{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#ffffff">

<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
<link rel="dns-prefetch" href="//cdn.jsdelivr.net">
<link rel="preconnect" href="https://raw.githubusercontent.com" crossorigin>
<link rel="dns-prefetch" href="//raw.githubusercontent.com">
<link rel="preconnect" href="https://github.com" crossorigin>
<link rel="dns-prefetch" href="//github.com">
<link rel="preconnect" href="https://huggingface.co" crossorigin>
<link rel="dns-prefetch" href="//huggingface.co">
<link rel="dns-prefetch" href="//mp.weixin.qq.com">
<link rel="dns-prefetch" href="//res.wx.qq.com">
<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<meta http-equiv="cleartype" content="on">
